@import '../../../assets/scss/variables';

.top-nav {
  background: linear-gradient(135deg, $theme-primary, #0143a3);
  padding: 12px 0;

  .logo {
    background: $theme-foreground;
    padding: 6px;
    height: 54px;
    width: 54px;
    object-fit: contain;
    margin-left: 12px;
  }

  .app-name {
    color: #fff;
    padding: 0 12px;
    font-weight: bold;
    font-size: 20px;
  }
}

.side-nav {
  .list-group {
    flex-direction: row;
    overflow-y: scroll;
    flex-grow: 1;
  }
  .active {
    border-bottom: 2px solid #0143a3;
  }
}
