@import '../../../assets/scss/variables';

.top-nav {
  background: linear-gradient(135deg, $theme-primary, #0143a3);
  padding: 12px 0;

  .logo {
    background: $theme-foreground;
    padding: 6px;
    height: 54px;
    width: 54px;
    object-fit: contain;
    margin-left: 12px;
  }
}

.content-window {
  min-height: calc(100vh - 54px - 24px);

  .side-nav {
    background: $theme-primary;
  }
}
