@import '../../../assets/scss/variables';

.top-nav {
  background: linear-gradient(135deg, $theme-primary, #0143a3);
  padding: 12px 0;

  .logo {
    background: $theme-foreground;
    padding: 6px;
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 12px;
  }
}

.content-window {
  min-height: calc(100vh - 60px - 24px);

  .side-nav {
    background: yellow;
  }

  .main-nav {
    background: red;
  }
}
