<div class="container-fluid">
  <form class="login" [formGroup]="form" (submit)="loginClicked()">
    <img src="../../../assets/Genie_Right-Small.png" alt="logo" class="logo">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username"
        formControlName="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password"
        required>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="remember">
      <label class="form-check-label" for="remember">Remember be</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
