@import '../../../assets/scss/variables';

.container-fluid {
  min-height: 100vh;
  background: $theme-foreground url('../../../assets/skyine.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.login {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  background: $theme-foreground;
  border-top: 2px solid $theme-primary;
  padding: 24px 24px 28px 24px;

  .logo {
    display: block;
    height: 100px;
    margin: 12px auto;
  }

  mat-form-field {
    width: 100%;
  }

  button {
      width: 100%;
  }
}
