<div class="container">
  <form class="login" [formGroup]="form" (submit)="loginClicked()">
    <img class="logo" src="../../../assets/Genie_Right-Small.png" />
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username" formControlName="username" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="password" required>
    </mat-form-field>

    <button mat-flat-button color="accent" type="submit">Login</button>
  </form>
</div>
