<div class="account-list">
  <div class="row">
    <div class="col-12">
      <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Accounts
    </div>
    <div class="card-body">
      <div class="my-card-wrapper">
        <div class="card my-cards" *ngFor="let account of customerData.accounts">
          <div class="card-body">
            <h5 class="card-title">{{ account.accountType }}</h5>
            <p class="card-text">{{ account.accountId }}</p>
            <a routerLink="/dashboard/transactions/{{account.accountId}}" class="btn btn-primary">Show transactions</a>
            <h4 class="card-highlight">{{ account.accountBalance }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Liabilities
    </div>
    <div class="card-body">
      <div class="my-card-wrapper">
        <div class="card my-cards" *ngFor="let account of customerData.Liabilities">
          <div class="card-body">
            <h5 class="card-title">{{ account.accountType }}</h5>
            <p class="card-text">{{ account.accountId }}</p>
            <a routerLink="/dashboard/transactions/{{account.accountId}}" class="btn btn-primary">Show transactions</a>
            <h4 class="card-highlight">{{ account.amount }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
