<div class="account-list">
  <div class="container">
    <div class="row no-gutters" *ngIf="graphData !=undefined">
      <div class="col-12 graph-wrapper">
        <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="graphData" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Accounts
    </div>
    <div class="card-body">
      <div class="my-card-wrapper">
        <div class="card my-cards" *ngFor="let account of customerData.accounts">
          <div class="card-body">
            <h5 class="card-title">{{ account.accountType }}</h5>
            <p class="card-text">{{ account.accountId }}</p>
            <a routerLink="/dashboard/transactions/{{account.accountId}}" class="btn btn-primary">Show transactions</a>
            <h4 class="card-highlight">S$ {{ account.accountBalance }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Liabilities
    </div>
    <div class="card-body">
      <div class="my-card-wrapper">
        <div class="card my-cards" *ngFor="let account of customerData.Liabilities">
          <div class="card-body">
            <h5 class="card-title">{{ account.accountType }}</h5>
            <p class="card-text">{{ account.accountId }}</p>
            <a routerLink="/dashboard/transactions/{{account.accountId}}" class="btn btn-primary">Show transactions</a>
            <h4 class="card-highlight">S${{ account.amount }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
