.account-list {
  max-width: 100vw;
  overflow: hidden;

  .graph-wrapper {
    padding: 24px 0 12px;
  }
}

.my-card-wrapper {
  display: flex;

  .my-cards {
    position: relative;
    margin: 12px;
    min-width: 300px;

    .card-highlight {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}
