<div class="account-info">
  <h4>DBS Multiplier Account</h4>
  <p>DBS XXX - XXXX{{account_id}}</p>
  <div class="row no-gutters">
    <div class="col-6 border-right">
      <p class="row-title">Account Balance</p>
      <p>$XXX.XX</p>
    </div>
    <div class="col-6">
      <p class="row-title">Available Balance</p>
      <p>$XXX.XX</p>
    </div>
  </div>
</div>
<div class="transactions">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="monthRadio" [(ngModel)]="monthRadio">
    <label ngbButtonLabel class="btn-primary rounded-0">
      <input ngbButton type="radio" [value]="currentMonth" (click)="getTxnDetails(currentMonthIndex)"> {{ currentMonth
      }}
    </label>
    <label ngbButtonLabel class="btn-primary rounded-0">
      <input ngbButton type="radio" value="lastMonth" (click)="getTxnDetails(lastMonthIndex)"> {{ lastMonth }}
    </label>
    <label ngbButtonLabel class="btn-primary rounded-0">
      <input ngbButton type="radio" [value]="beforeLastMonth" (click)="getTxnDetails(beforeLastMonthIndex)"> {{
      beforeLastMonth }}
    </label>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let t of transactions">
      <p class="m-0">{{t.account_id}} :: {{t.operation}}_{{t.type}}</p>
      <p class="font-italic small-size">{{t.date}}</p>
      <h3 class="float-md-right">S$ {{t.amount}}</h3>
    </li>
  </ul>
</div>
