.account-info {
  width: 100vw;
  padding: 24px 12px;
  background: #06429f;
  color: white;

  h4,
  p,.col-6 p {
    text-align: center;
  }

  .row-title {
      font-size: 18px;
  }
}

.transactions {
  width: 100%;
}

.btn-group {
  width: 100%;
}
